* {
	font-family: "Open Sans", sans-serif;
	font-size: 100%;
}

img {
	border: none;
	padding: 0;
	margin: 0;
}

body {
	background: #ddd;
}

#page {
	width: 70%;
	margin: 0 auto;
}

#signature, 
#help {
	background: white;
	margin: 2em 0;
	padding: 1em;
}

#help {
	background: transparent none;
	border: 1px dotted red;
	background: #fdd;
}

#top {
	border-top: 2px dotted black;
	border-bottom: 2px dotted black;
	padding: 0.5em 0;
	margin: 0 0 0.5em 0;
}

#ceu, 
a:link, 
a:hover, 
a:visited, 
a:active {
	color: #009acd;
	text-decoration: none;
}

.label, 
#name, 
#ceu {
	text-transform: uppercase;
	letter-spacing: -1px;
}

.label {
	font-weight: 700;
}

#name {
	font-weight: 800;
}

#position {
	font-weight: 300;
	font-size: 0.75em;
	font-style: italic;
}

#contact {
	font-size: 0.75em;
	border-bottom: 2px dotted black;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

#commitment {
	font-size: 0.75em;
}